////
/// Media Query Atoms
/// @group tools
/// @since v1.0.0
////

$mq-breakpoint-defaults: (
  small: 640,
  medium: 1024,
  large: 1440,
  xlarge: 1920,
  xxlarge: 99999
);

$mq-breakpoint: () !default;
$mq-breakpoint: map-merge-settings($mq-breakpoint-defaults, $mq-breakpoint);

@function mq-breakpoint($settings...) {
  @return map-deep-get($mq-breakpoint, $settings...);
}

$_breakpoint-list: map-keys($mq-breakpoint);

/// Builds the range limits for a specific breakpoint
@function mq-range($breakpoint) {
  @if map-has-key($mq-breakpoint, $breakpoint) {
    $breakpoint-index: index($_breakpoint-list, $breakpoint);

    $lower-bound: 0;
    $upper-bound: mq-breakpoint($breakpoint);

    @if $breakpoint-index > 1 {
      $previous-breakpoint: mq-breakpoint(nth($_breakpoint-list, $breakpoint-index - 1));
      $lower-bound: $previous-breakpoint + 1;
    }

    @return (px($lower-bound), px($upper-bound));
  } @else {
    @error "There is no breakpoint defined for '#{$breakpoint}'";
  }
}

/// Holds the media query ranges for each breakpoint
$mq-range: ();

@mixin mq-range-build {
  @each $breakpoint, $value in $mq-breakpoint {
    $breakpoint-range: (
      $breakpoint: mq-range($breakpoint)
    );

    $mq-range: map-merge($mq-range, $breakpoint-range) !global;
  }
}

@include mq-range-build;

/// Holds the media query strings with directions for each breakpoint
$mq: ();

@mixin mq-build {
  @each $breakpoint, $range in $mq-range {
    $mq-item: (
      $breakpoint: (
        up: "#{$screen} and (min-width:#{lower-bound($range)})",
        only: "#{$screen} and (min-width:#{lower-bound($range)}) and (max-width:#{upper-bound($range)})",
        down: "#{$screen} and (max-width:#{upper-bound($range)})"
      )
    );

    $mq: map-merge($mq, $mq-item) !global;
  }

  $retina: (
   "#{$screen} and (-webkit-min-device-pixel-ratio: 2)",
   "#{$screen} and (min--moz-device-pixel-ratio: 2)",
   "#{$screen} and (-o-min-device-pixel-ratio: 2/1)",
   "#{$screen} and (min-device-pixel-ratio: 2)",
   "#{$screen} and (min-resolution: 192dpi)",
   "#{$screen} and (min-resolution: 2dppx)"
  );

  $mq: map-merge($mq, $retina) !global;
}

@include mq-build;

@function mq($breakpoint, $direction: only) {
  @return map-deep-get($mq, $breakpoint, $direction);
}
