////
/// Paint Global Imports
////

/// Import dependencies

@import 'bower_components/foundation/scss/foundation/functions';

@import 'globals/functions';
@import 'globals/settings';

@import 'bower_components/foundation/scss/normalize';
@import 'bower_components/foundation/scss/foundation';
@import 'bower_components/fontawesome/scss/font-awesome';

@import 'globals/mixins';

@import 'components/color';
@import 'components/button';
@import 'components/grid';
@import 'components/typography';
@import 'components/icon';
@import 'components/notification';
@import 'components/label';
@import 'components/layout';
@import 'components/navigation';
@import 'components/table';
@import 'components/progress-bar';
@import 'components/side-panel';
@import 'components/vertical-align';
@import 'components/form';
@import 'components/dropdown';
@import 'components/quick-jump';
@import 'components/panel';
@import 'components/flip-panel';
@import 'components/modal';
@import 'components/tab';
