////
/// Unit functions
/// @group core
/// @since v1.0.0
////

$rem-base: 16px !default;
$em-base: 16px !default;

@function strip-units($value) {
  @return ($value / ($value * 0 + 1));
}

@function px($val) {
  @if not unitless($val) {
    $val: strip-units($val);
  }

  @return $val * 1px;
}

@function rem($pxval, $base: $rem-base) {
  @if not unitless($pxval) {
    $pxval: strip-units($pxval);
  }

  @if not unitless($base) {
    $base: strip-units($base);
  }

  @return ($pxval / $base) * 1rem;
}

@function em($pxval, $base: $em-base) {
  @if not unitless($pxval) {
    $pxval: strip-units($pxval);
  }
  @if not unitless($base) {
    $base: strip-units($base);
  }

  @return ($pxval / $base) * 1em;
}
