*, *:before, *:after {
  @include box-sizing(border-box);
}

html, body {
  height: 100%;
  font-size: $base-font-size;
}

body {
  background: $body-bg;
  color: $body-font-color;
  cursor: $cursor-auto-value;
  font-family: $body-font-family;
  font-style: $body-font-style;
  font-weight: $body-font-weight;
  line-height: $base-line-height;
  padding: 0;
  position: relative;
}

a:hover {
  cursor: $cursor-pointer-value;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

textarea {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}
