$include-html-classes: false;
$include-html-form-classes: true;
$include-html-global-classes: true;
$include-html-type-classes: true;
$include-html-tooltip-classes: true;

$icon-font-folder-path: '/assets/fonts' !default;
$fa-font-path: $icon-font-folder-path;

$global-radius: 4px !default;
$global-section-border-color: #ececec !default;
$global-overlay-background-color: rgba(0, 0, 0, .45) !default;

// Visibility

$include-html-visibility-classes: true;
$include-legacy-visibility-classes: true;
$include-accessibility-classes: false;
$include-table-visibility-classes: false;

// Grid

$row-width: 100% !default;

// Colors

$primary-color: #f36b09 !default;
$secondary-color: #a42524 !default;
$alert-color: #ff7f7d !default;
$alert-function-factor: -20% !default;
$anchor-font-color: #1082e4 !default;
$small-font-color: #888888 !default;
$warning-color: #ffcc7a !default;

// Fonts

$body-font-family: "Helvetica Neue", Helvetica, sans-serif !default;
$font-weight-normal: 300 !default;
$font-weight-bold: 400 !default;
$font-weight-extrabold: 600 !default;

$base-font-size: 14px !default;
$rem-base: 16px !default;
$base-line-height: 2 !default;
$small-font-size: 80% !default;

$body-font-smoothing: subpixel-antialiased !default;
$header-font-smoothing: antialiased !default;

$paragraph-font-weight: $font-weight-normal !default;

// Headers

$header-font-family: "Helvetica Neue", Helvetica, sans-serif !default;
$header-font-weight: $font-weight-normal !default;
$header-line-height: 2 !default;

$h1-font-size: 2.25rem !default;
$h2-font-size: 1.75rem !default;
$h3-font-size: 1.375rem !default;
$h4-font-size: 1.125rem !default;
$h5-font-size: 1rem !default;
$h6-font-size: .875rem !default;

// Code

$code-color: inherit !default;
$code-background-color: inherit !default;
$code-border-size: 0 !default;
$code-border-style: solid !default;
$code-border-color: inherit !default;
