$body-font-family: 'Open Sans', sans-serif;
$fa-font-path: $icon-font-folder-path;
$include-html-classes: false;
$include-html-form-classes: true;
$include-html-global-classes: true;
$row-width: 100%;

$global-radius: 6px;
