$fa-font-path: $icon-font-folder-path;

$global-radius: 6px;
$global-rounded: 100%;

// Colors

$primary-color: #f36b09;
$secondary-color: #a42524;

$panel-border-color: #F5F5F5;
$panel-bg: #EEEEEE;

// Fonts

$font-weight-normal: 300;
$font-weight-bold: 400;
$font-weight-extrabold: 600;

$base-font-family: $helvetica;
$header-font-family: 'Open Sans', $helvetica;
$base-font-smoothing: antialiased;

// Font Sizes

$base-font-size: 0.875rem;
$small-font-size: 80%;

$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

// Line height

$base-line-height: 2;
$header-line-height: 1.25;
$base-spacing: $base-line-height * 1em;

// Font Colors

$base-font-color: $grey-900;
$header-font-color: $grey-600;
$subheader-font-color: $grey-500;

// Link Colors

$base-link-color: $primary-color;
$hover-link-color: darken($primary-color, 15);
$base-button-color: $blue-500;
$hover-button-color: $blue-900;

// Code

$code-color: inherit;
$code-background-color: inherit;
$code-border-size: 0px;
$code-border-style: solid;
$code-border-color: inherit;

// MQ

$small-screen: em(480);
$medium-screen: em(640);
$large-screen: em(860);
$xlarge-screen: em(1024);
$xxlarge-screen: em(1440);

$small-up: new-breakpoint(min-width $small-screen);
$medium-up: new-breakpoint(min-width $medium-screen);
$large-up: new-breakpoint(min-width $large-screen);
$xlarge-up: new-breakpoint(min-width $xlarge-screen);
$xxlarge-up: new-breakpoint(min-width $xxlarge-screen);

$small-only: new-breakpoint(max-width $small-screen);
$medium-only: new-breakpoint(min-width $small-screen max-width $medium-screen);
$large-only: new-breakpoint(min-width $medium-screen max-width $large-screen);

// Animation

$base-transition-settings: 150ms ease;

// GRID

$total-columns: 12;
$column-gutter: 1em;
$max-width: 100%;
