$include-html-type-classes: true;

$font-weight-normal: 300;
$font-weight-bold: 400;
$font-weight-extrabold: 600;

$header-font-color: #222;
$header-line-height: 1.4;
$header-top-margin: .2rem;
$header-bottom-margin: .5rem;
$header-font-weight: $font-weight-normal;
$header-text-rendering: antialiased;

$h1-font-size: rem-calc(37);
$h2-font-size: rem-calc(27);
$h3-font-size: rem-calc(23);
$h4-font-size: rem-calc(20);
$h5-font-size: rem-calc(18);
$h6-font-size: 1rem;
