$button-text-color: #8c8c8c !default;
$button-background-color: #ffffff !default;

$include-html-button: true !default;

%button {
  @include button-base;

  background-color: $button-background-color;
  color: $button-text-color;
  border: 1px solid lighten($button-text-color, 20%);
  border-radius: $global-radius;

  &:hover {
    color: darken($button-text-color, 20%);
  }

  &:focus {
    outline: 0;
  }
}

@include exports("button") {
  @if $include-html-button {
    button {
      @extend %button;
    }
  }
}
