@import 'icon';

$button-base-background-color: $white !default;
$button-base-text-color: $jumbo !default;
$button-base-padding: 15px !default;
$button-icon-size: 28px !default;
$button-primary-background-color: #008fd9 !default;
$button-disabled-transparency: .4 !default;
$button-disabled-hover-transparency: .2 !default;

$include-html-paint-button: true !default;

@mixin button-icon($icon) {
  @extend %button-icon;
  @include icon($icon);
}

@mixin button-disabled() {
  background-color: transparentize(
    $button-base-background-color,
    $button-disabled-transparency);
  box-shadow: none;
  color: transparentize(
    $button-base-text-color,
    $button-disabled-transparency);
  cursor: not-allowed;

  &:hover,
  &:focus {
    background-color: transparentize(
      $button-base-background-color,
      $button-disabled-hover-transparency);
    color: transparentize(
      $button-base-text-color,
      $button-disabled-hover-transparency);
  }
}

%button-icon {
  margin-bottom: 0;
  padding: 0;

  &:before {
    display: block;
    line-height: $button-icon-size;
    width: $button-icon-size;
  }
}

%button {
  @include button-base;
  @include single-transition(color, 150ms, ease);

  background-color: $button-base-background-color;
  border: 1px solid lighten($button-base-text-color, 20%);
  border-radius: $global-radius;
  color: $button-base-text-color;

  &:hover {
    color: darken($button-base-text-color, 20%);
  }

  &:focus {
    outline: 0;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    @include button-disabled;
  }
}

%button-primary {
  @include button(
    $bg: $white,
    $radius: $global-radius
  );

  border: 1px solid $button-primary-background-color;
  color: $button-primary-background-color;
  font-size: $small-font-size;
  font-weight: $font-weight-bold;
  padding: $button-base-padding;
  text-transform: uppercase;

  &:focus {
    background-color: $white;
    color: $button-primary-background-color;
  }

  &:hover {
    background-color: $button-primary-background-color;
    color: $white;
  }
}

%button-group {
  @include button-group-container;

  display: inline-block;

  &:not(:first-child) {
    padding-left: $button-base-padding;
  }

  > li {
    @include button-group-style($radius: $global-radius, $float: null);

    button {
      border-color: $global-section-border-color;
      border-left: 0;
      line-height: $button-icon-size;
      padding: 0 $button-base-padding;

      &:before {
        display: inline-block;
      }

      &:not(:empty):before {
        margin-left: -$button-base-padding;
      }
    }

    &:first-child button {
      border-left: solid 1px $global-section-border-color;
    }
  }
}

@include exports('paint-button') {
  @if $include-html-paint-button {
    button {
      @extend %button;
    }
  }
}
