$primary-color:   #f36b09;
$secondary-color: #e7e7e7;
$alert-color:     #f04124;
$success-color:   #43AC6A;
$warning-color:   #f08a24;
$info-color:      #a0d3e8;

$white         : #FFFFFF;
$ghost         : #FAFAFA;
$snow          : #F9F9F9;
$vapor         : #F6F6F6;
$white-smoke   : #F5F5F5;
$silver        : #EFEFEF;
$smoke         : #EEEEEE;
$gainsboro     : #DDDDDD;
$iron          : #CCCCCC;
$base          : #AAAAAA;
$aluminum      : #999999;
$jumbo         : #888888;
$monsoon       : #777777;
$steel         : #666666;
$charcoal      : #555555;
$tuatara       : #444444;
$oil           : #333333;
$jet           : #222222;
$black         : #000000;