$dropdown-background-color: $white !default;
$dropdown-border-color: $global-section-border-color !default;
$dropdown-z-index: 100 !default;
$dropdown-link-color: $body-font-color !default;
$dropdown-link-hover-color: $black !default;
$dropdown-link-hover-background-color: $global-section-border-color !default;
$dropdown-link-active-color: $dropdown-link-color !default;
$dropdown-link-active-background-color: lighten($dropdown-link-hover-background-color, 50%) !default;
$dropdown-link-disabled-color: lighten($dropdown-link-color, 50%) !default;
$dropdown-search-inner-padding: 3px;
$dropdown-search-icon-size: 32px;
$dropdown-search-results-height: 15em;

$include-html-paint-dropdown: true !default;

@mixin dropdown-triangle($size, $color, $direction) {
  $background-color: if(length($color) == 2, nth($color, 2), transparent);
  $foreground-color: nth($color, 1);
  $height: nth($size, length($size));
  $width: nth($size, 1);

  content: '';
  height: 0;
  position: absolute;
  width: 0;

  @if ($direction == top) or ($direction == bottom) or ($direction == right) or ($direction == left) {
    $width: $width / 2;
    $height: if(length($size) > 1, $height, $height/2);

    @if $direction == bottom {
      border-bottom: $height solid $foreground-color;
      border-left: $width solid $background-color;
      border-right: $width solid $background-color;
      left: $size;
      top: - $size / 2;

    } @else if $direction == left {
      border-bottom: $width solid $background-color;
      border-left: $height solid $foreground-color;
      border-top: $width solid $background-color;
      right: - $size / 2;
      top: $size / 2;

    } @else if $direction == top {
      border-left: $width solid $background-color;
      border-right: $width solid $background-color;
      border-top: $height solid $foreground-color;
      bottom: - $size / 2;
      left: $size;

    } @else if $direction == right {
      border-bottom: $width solid $background-color;
      border-right: $height solid $foreground-color;
      border-top: $width solid $background-color;
      left: - $size / 2;
      top: $size / 2;
    }
  }
}

@mixin dropdown-directions {
  $directions: (
    bottom: (
      left: 0,
      top: 100%
    ),
    top: (
      bottom: 100%,
      top: auto
    ),
    left: (
      left: 0,
      right: auto,
      top: 0
    ),
    right: (
      left: auto,
      right: 0,
      top: 0
    )
  );

  $other-directions-string: '';

  @each $direction, $properties in $directions {
    &.#{$direction} {
      @each $property, $value in $properties {
        #{$property}: #{$value};
      }

      &:before {
        @include dropdown-triangle(12px, $white, $direction);
      }
    }

    $other-directions-string: $other-directions-string + ':not(.#{$direction})';
  }

  &#{$other-directions-string} {
    &:before {
      @include dropdown-triangle(12px, $white, bottom);
    }
  }
}

@mixin dropdown-with-search() {
  .input {
    cursor: auto;
    padding: $dropdown-search-inner-padding
      $dropdown-search-inner-padding * 2;
    position: relative;

    &:hover {
      background-color: transparent;
    }

    > div,
    .icon {
      height: $dropdown-search-icon-size;
      left: $dropdown-search-inner-padding;
      margin: $dropdown-search-inner-padding * 2 0;
      overflow: hidden;
      position: absolute;
      text-align: center;
      top: $dropdown-search-inner-padding;
      width: $dropdown-search-icon-size;

      i {
        @include icon(search);

        color: $primary-color;
        line-height: $dropdown-search-icon-size;
      }
    }

    > input {
      @include form-input;

      height: $dropdown-search-icon-size;
      line-height: $dropdown-search-icon-size;
      margin: $dropdown-search-inner-padding * 2 0;
      padding-left: $dropdown-search-icon-size;
      width: 100%;
    }
  }

  .results {
    margin: 0;
    max-height: $dropdown-search-results-height;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;

    > ul {
      margin: 0;
      padding: 0;

      > li {
        @extend %dropdown-item;

        cursor: pointer;
        padding: $dropdown-search-inner-padding
          $column-gutter / 4;

        &:hover {
          background-color: $dropdown-link-hover-background-color;
        }
      }
    }
  }
}

%dropdown {
  position: relative;

  .toggle:focus {
    outline: 0;
  }

  > ul {
    @include dropdown-directions;

    background-clip: padding-box;
    background-color: $dropdown-background-color;
    border: 1px solid $dropdown-border-color;
    border-radius: $global-radius / 2;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .175);
    display: none;
    float: left;
    font-size: $base-font-size;
    list-style: none;
    margin: 0;
    min-width: 100px;
    position: absolute;
    text-align: left;
    z-index: $dropdown-z-index;

    .divider {
      border-bottom: 1px solid $dropdown-border-color;
      margin: $column-gutter / 4;
    }

    > li {
      @extend %dropdown-item;
    }

    &.open {
      display: block;
    }
  }
}

%dropdown-item {
  border-bottom: 1px solid $dropdown-border-color;

  &:last-child {
    border-bottom: 0;
  }

  &.active > a {
    &,
    &:hover,
    &:focus {
      background-color: $dropdown-link-active-background-color;
      color: $dropdown-link-active-color;
      outline: 0;
      text-decoration: none;
    }
  }

  &.disabled > a {
    &,
    &:hover,
    &:focus {
      color: $dropdown-link-disabled-color;
    }

    &:hover,
    &:focus {
      background-color: transparent;
      cursor: not-allowed;
      text-decoration: none;
    }
  }

  > a {
    clear: both;
    color: $dropdown-link-color;
    cursor: pointer;
    display: block;
    font-weight: $font-weight-normal;
    line-height: $base-line-height;
    padding: 0 $column-gutter / 2;
    white-space: nowrap;

    &:hover,
    &:focus {
      background-color: $dropdown-link-hover-background-color;
      color: $dropdown-link-hover-color;
      text-decoration: none;
    }
  }
}

%dropdown-inline {
  > ul {
    line-height: 0;
    min-width: 0;
    padding: 0;
    text-align: center;
    white-space: nowrap;

    > li {
      display: inline-block;
    }
  }
}

%dropdown-inverted {
  > ul {
    background-color: $dropdown-link-hover-background-color;
    color: $dropdown-link-hover-color;

    > li:hover,
    > li a:hover {
      background-color: $dropdown-background-color;
      color: $dropdown-link-color;
    }
  }
}

%dropdown-over {
  > ul {
    top: 0;

    &:before {
      display: none;
    }
  }
}

@include exports('paint-dropdown') {
  @if $include-html-paint-dropdown {
    .dropdown {
      @extend %dropdown;
    }

    .dropdown-inline {
      @extend %dropdown;
      @extend %dropdown-inline;
    }

    .dropdown-inverted {
      @extend %dropdown;
      @extend %dropdown-inverted;
    }

    .dropdown-over {
      @extend %dropdown;
      @extend %dropdown-over;
    }

    .dropdown-search {
      @extend %dropdown;
      @include dropdown-with-search;
    }
  }
}
