%heading-large-uppercase {
  font-size: $h1-font-size;
  font-weight: $font-weight-normal;
  text-transform: uppercase;
}

%heading-medium-uppercase {
  font-size: $h4-font-size;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

%heading-small-uppercase {
  font-size: $h5-font-size;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}
