////
/// Icons Component
/// @group icon
/// @since v0.8.32
////

/// Extends FontAwesome icons and Paint icons

@import url(https://use.fonticons.com/kits/4d2e7f35/4d2e7f35.css);

/// Custom Paint icons map

$paint-icons: (
  avatar-advisor: '\f053',
  avatar-client: '\f052',
  archive: '\f016',
  arrow-down: '\f050',
  arrow-right: '\f04f',
  arrow-up: '\f04e',
  calendar: '\f046',
  calendar-full: '\f051',
  chart: '\f017',
  check: '\f018',
  circle-check: '\f019',
  circle-cross: '\f01a',
  circle-minus: '\f01b',
  circle-plus: '\f01c',
  clip: '\f01d',
  clock: '\f01e',
  cog: '\f01f',
  cross: '\f020',
  dashboard: '\f014',
  delete: '\f021',
  download: '\f022',
  file: '\f023',
  flag: '\f024',
  folder: '\f025',
  globe: '\f026',
  head: '\f027',
  heart: '\f028',
  image: '\f029',
  left-arrow: '\f02a',
  link: '\f02b',
  lock: '\f02c',
  mail: '\f02d',
  menu: '\f02e',
  // Libsass bug sass/libsass#934
  'notification': '\f02f',
  printer: '\f030',
  right-arrow: '\f015',
  search: '\f031',
  share: '\f032',
  square-check: '\f04b',
  square-cross: '\f04a',
  square-minus: '\f049',
  square-plus: '\f04c',
  toggle: '\f033',
  upload: '\f034',
  video: '\f035',
  chevron-left: '\f036',
  chevron-right: '\f037',
  ban: '\f038',
  shield: '\f039',
  dots-horizontal: '\f040',
  done-circle: '\f041',
  interaction: '\f03f',
  zoom-in: '\f047',
  zoom-out: '\f048'
);

/// Renders font-awesome icons
/// @param {string} $name - The name of the icon
/// @example scss - Usage
///   .dashboard-icon {
///     @include icon(dashboard);
///   }

@mixin icon($name, $selector: null) {
  @extend .fa-#{$name};

  @if $selector == null {
    @include fa-icon;
  } @else {
    &:#{$selector} {
      @include fa-icon;
    }
  }
}

/// @access private

%paint-icon {
  display: inline-block;
  font-family: 'Paint';
  font-size: $h4-font-size;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-align: center;
  text-transform: none;
}

/// Renders custom Paint icons
/// @param {string} $name - The name of the icon
/// @example scss - Usage
///   .dashboard-icon {
///     @include paint-icon(dashboard);
///   }

@mixin paint-icon($name, $selector: null) {
  $content: map-get($paint-icons, $name);
  $selector: if($selector == null, '&', '&:' + $selector);

  @if not $content {
    @error "Icon #{$name} doesn't exist"
  }

  #{$selector} {
    @extend %paint-icon;

    content: $content;
  }
}
