@import "https://use.fonticons.com/kits/4d2e7f35/4d2e7f35.css";

$navigation-default-settings: (
  background-color: #191c1f,
  text-color: #a5a5a5,
  item-background-color: lighten(#191c1f, 5%),
  height: 60px,
  height-negative: -60px,
  width: 300px,
  width-collapsed: 60px,
  logo-width: 28px,
  transition-duration: 0.3s,
  z-index: 101,

  selectors: (
    main: '.main-navigation',
    sidebar: '.sidebar'
  )
);

@if global-variable-exists(navigation) {
  $navigation: map-merge-settings($navigation-default-settings, $navigation);
} @else {
  $navigation: $navigation-default-settings;
}

$no-touch-selector: '.no-touch' !default;
$include-html-paint-navigation: true !default;

@function navigation-settings($setting, $property: null) {
  @if $property {
    @return map-get(map-get($navigation, $setting), $property),
  } @else {
    @return map-get($navigation, $setting)
  }
}

@mixin navigation-logo {
  $logo-padding: navigation-settings(width-collapsed) - navigation-settings(logo-width);

  background:
    url('#{$images-path}logo.png')
    $logo-padding / 2 50%
    no-repeat;

  background-size:
    navigation-settings(logo-width)
    navigation-settings(logo-width);

  min-width: navigation-settings(width-collapsed);
  padding-left: 0;

  span {
    display: block;
    padding-left: navigation-settings(width-collapsed);
    font-weight: $font-weight-extrabold;
    font-size: $small-font-size;
  }
}

#{$layout-main-selector} {
  &.with-sidebar {
    margin-left: navigation-settings(height);
  }
  &.with-topbar {
    margin-top: navigation-settings(height);
  }
}

#{navigation-settings(selectors, main)} {
  background: color(white);
  color: navigation-settings(background-color);
  font-size: $base-font-size;
  height: navigation-settings(height);
  left: 0;
  line-height: navigation-settings(height);
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-transform: none;
  top: 0;
  z-index: navigation-settings(z-index);

  &.with-topbar {
    width: 100%;
  }

  a {
    cursor: pointer;
    display: block;
    height: 100%;
    text-decoration: none;
  }

  > .item {
    border-right: 1px solid lighten(navigation-settings(text-color), 25%);
    display: block;
    float: left;
    height: 100%;
    text-align: center;

    &.with-sidebar {
      -webkit-touch-callout: none;
      position: relative;
      user-select: none;
    }

    &:last-child:not(.with-sidebar) {
      border-left: 1px solid lighten(navigation-settings(text-color), 25%);
      border-right: none;
      float: right;
    }

     > a {
      color: navigation-settings(background-color);
      font-weight: $font-weight-normal;
      padding: 0 navigation-settings(height) / 2;
      text-transform: uppercase;

      &[class^='icon-'] {
        @extend %paint-icon;

        &:before {
          display: block !important;
          height: 0 !important;
          overflow: hidden;
          width: 0 !important;
        }
      }
    }

    .logo {
      @include navigation-logo;
    }
  }
}

#{$no-touch-selector} {
  .main-navigation .item a:hover {
    background-color: navigation-settings(item-background-color);
    color: color(white);
  }
}

#{navigation-settings(selectors, main)}
#{navigation-settings(selectors, sidebar)} {
  background: navigation-settings(background-color);
  border-top: 1px solid navigation-settings(item-background-color);
  bottom: 0;
  color: navigation-settings(text-color);
  left: 0;
  overflow: hidden;
  position: fixed;
  top: navigation-settings(height);
  transform: translateX(navigation-settings(height-negative));
  transition-delay: navigation-settings(transition-duration);
  transition: transform navigation-settings(transition-duration), width navigation-settings(transition-duration);
  width: navigation-settings(width-collapsed);


  .scroller {
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    width: navigation-settings(width);
  }

  .menu,
  .menu ul {
    background: navigation-settings(background-color);
    border-bottom: 1px solid navigation-settings(item-background-color);
    color: color(white);
    font-size: $base-font-size;
    line-height: navigation-settings(height);
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: none;


    li:not(:first-child),
    li li {
      box-shadow: inset 0 1px navigation-settings(item-background-color);
    }

    a {
      color: navigation-settings(text-color);
      text-transform: uppercase;

      span {
        display: block;
        height: 0;
        overflow: hidden;
        width: 0;
      }
    }

    .submenu li {
      height: 0;
      overflow: hidden;
      transition: height navigation-settings(transition-duration);

      a {
        color: darken(navigation-settings(text-color), 20%);
      }
    }

    a[class^='icon-'] {
      @extend %paint-icon;
    }
  }
}

%paint-icon {
  &:before {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: 'Paint';
    font-size: $h4-font-size;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-align: center;
    text-transform: none;
    width: navigation-settings(height);
  }
}

$sidebar-part-open: '.part-open';
$sidebar-full-open: '.part-open:hover';

#{navigation-settings(selectors, main)}
#{navigation-settings(selectors, sidebar)} {
  &#{$sidebar-full-open},
  &#{$sidebar-part-open} {
    transform: translateX(0px);
  }

  &#{$sidebar-full-open} {
    width: navigation-settings(width);
    transition-delay: 0s;

    .submenu li {
      height: navigation-settings(height);
    }
  }
}

@media #{$small-only} {
  .application {
    &.with-sidebar {
      margin-left: 0;
    }
  }

  #{navigation-settings(selectors, main)} {
    .item.with-sidebar:hover
    #{navigation-settings(selectors, sidebar)} {
      transform: translateX(0px);
    }

    #{navigation-settings(selectors, sidebar)} {
      &#{$sidebar-part-open} {
        transform: translateX(navigation-settings(height-negative));
      }

      &#{$sidebar-full-open} {
        transform: translateX(0px);
        width: 100%;

        .scroller {
          width: 130%
        }
      }
    }

    .item {
      > a[class^='icon-'] {
        padding: $column-gutter / 4;

        &:before {
          display: inline-block !important;
          height: auto !important;
          width: 30px !important;
        }

        span {
          display: none;
        }
      }
    }
  }
}
