$side-panel-default-settings: (
  screen-size: (
    small: 100%,
    medium: 45em,
    large: 75em,
    xlarge: 90em,
    xxlarge: 120em
  ),
  actions-bar: (
    background-color: #e1e5ea,
    button-size: 35px,
    height: rem-calc(60)
  ),
  actions: (
    navigation: (
      previous: angle-left,
      next: angle-right
    )
  )
);

@if global-variable-exists(side-panel) {
  $side-panel: map-merge-settings($side-panel-default-settings, $side-panel);
} @else {
  $side-panel: $side-panel-default-settings;
}

$include-html-paint-side-panel: true !default;

@function side-panel-settings($setting, $property: null) {
  @if $property {
    @return map-get(map-get($side-panel, $setting), $property),
  } @else {
    @return map-get($side-panel, $setting)
  }
}

@mixin side-panel-size($screen: large) {
  $width: side-panel-settings(screen-size, $screen);

  right: -$width;
  width: $width;
}

@mixin side-panel {
  @include overlay($position: fixed, $z-index: 200);

  > div {
    @include single-transition(opacity, 150ms, linear);

    background-color: $white;
    float: right;
    height: 100%;
    overflow-y: auto;
    position: relative;

    > .content {
      bottom: 0;
      left: 0;
      overflow-y: auto;
      position: absolute;
      right: 0;
      top: side-panel-settings(actions-bar, height);
    }

    @media #{$small-only} {
      @include side-panel-size(small);
    }

    @media #{$medium-only} {
      @include side-panel-size(medium);
    }

    @media #{$large-only} {
      @include side-panel-size(large);
    }

    @media #{$xlarge-only} {
      @include side-panel-size(xlarge);
    }

    @media #{$xxlarge-up} {
      @include side-panel-size(xxlarge);
    }
  }
}

@mixin side-panel-actions-bar {
  @extend %grid-row;

  background-color: side-panel-settings(actions-bar, background-color);
  height: side-panel-settings(actions-bar, height);
  line-height: side-panel-settings(actions-bar, height);
  padding: 0 $column-gutter;

  .content {
    @extend %grid-column-10;

    min-height: side-panel-settings(actions-bar, height);
    padding: 0 !important;

    > ul {
      @extend %button-group;
    }
  }

  .close {
    @extend %grid-column-2;

    padding: 0 !important;
    text-align: right;

    > button {
      @include button-icon(close);

      border-color: $global-section-border-color;
    }
  }

  button {
    &:before {
      font-size: $h3-font-size;
      line-height: side-panel-settings(actions-bar, button-size) !important;
      width: side-panel-settings(actions-bar, button-size) !important;
    }
  }
}

@mixin side-panel-actions {
  $side-panel-actions: side-panel-settings(actions);

  @each $action-group, $actions in $side-panel-actions {
    .#{$action-group}-actions {
      @each $action, $icon in $actions {
        .#{$action} {
          @include button-icon($icon);
        }
      }
    }
  }
}

@include exports('paint-side-panel') {
  @if $include-html-paint-side-panel {
    .side-panel {
      @include side-panel;

      .actions {
        @include side-panel-actions-bar;
        @include side-panel-actions;
      }
    }
  }
}
