////
/// Navigation
/// @group tab
/// @since v0.8.18
////

/// Default settings

/// @example scss - Usage
///   .my-tabs {
///     @include tabs;
///   }
/// @example html - Default Markup
///   <section class="tabs">
///     <nav>
///       <ul>
///         <li><a>First Tab</a></li>
///         <li><a class="active">Second Tab</a></li>
///         <li><a>Third Tab</a></li>
///       </ul>
///     </nav>
///
///     <div class="content">
///       ...
///     </div>
///   </section>
///

$tab-default-settings: (
  active-class: '.active',
  active-tab-selector: a,
  background-color: color(white),
  border-color: color(border),
  border-color-active: color(link),
  border-height: 3px,
  height: 60px,
  text-color: color(text, small),
  text-color-active: color(text),
  text-size: $h4-font-size,
  padding: 0 $column-gutter / 2,
  margin: 0 $column-gutter / 2,
  transition-duration: $global-transition-duration / 2
);

$tab: () !default;
$tab: map-merge-settings($tab-default-settings, $tab);

$include-html-paint-tabs: true !default;

@function tab-settings($setting, $property: null) {
  @if $property {
    @return map-get(map-get($tab, $setting), $property);
  } @else {
    @return map-get($tab, $setting);
  }
}

/// Main tabs mixin, to be applied to the tabs wrapper

@mixin tabs() {
  position: relative;
  width: 100%;

  nav {
    @include tabs-nav;
  }

  .content {
    @extend %grid-column-12;
  }
}

/// Tab Nav Group
/// @access private

@mixin tabs-nav() {
  background-color: tab-settings(background-color);
  border-bottom: 1px solid tab-settings(border-color);
  overflow: hidden;

  ul {
    @include tab-item;

    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    position: relative;
    white-space: nowrap;

    li {
      display: inline-block;
      list-style: none;
      position: relative;
      vertical-align: top;
    }
  }
}

/// Tab Nav Item
/// @access private
/// @param {value} $active-selector [a] - Sets the active state selector, can be `a` or `li`

@mixin tab-item($active-selector: tab-settings(active-tab-selector)) {
  $tab-selector: 'li > a';
  $active-tab-selectors: (
    a: 'li > a#{tab-settings(active-class)}',
    li: 'li#{tab-settings(active-class)} > a',
  );
  $active-tab-selector: map-get($active-tab-selectors, $active-selector);

  > #{$tab-selector} {
    color: tab-settings(text-color);
    display: block;
    font-size: tab-settings(text-size);
    line-height: tab-settings(height);
    margin: tab-settings(margin);
    margin-bottom: -1px;
    overflow: hidden;
    padding: tab-settings(padding);
    position: relative;
    transition: color tab-settings(transition-duration);
    white-space: nowrap;
  }

  > #{$tab-selector}:hover,
  > #{$active-tab-selector} {
    color: tab-settings(text-color-active);

    &:after {
      transform: translate(0, 0);
    }
  }

  > #{$active-tab-selector}::after {
    background-color: tab-settings(border-color-active);
  }

  > #{$tab-selector}::after {
    background-color: tab-settings(border-color);
    bottom: 0;
    content: '';
    height: tab-settings(border-height);
    left: 0;
    position: absolute;
    transform: translate(0, 150%);
    transition: 
      transform tab-settings(transition-duration),
      background-color tab-settings(transition-duration);
    width: 100%;
  }

  @media #{$small-only} {
    margin: 0;
  }
}

@include exports('paint-tab') {
  @if $include-html-paint-tabs {
    .tabs {
      @include tabs;
    }
  }
}
