$typography-header-tags: h1, h2, h3, h4, h5, h6, blockquote !default;

$include-html-paint-typography: true !default;

@mixin typography-font-smoothing($header-tags: $typography-header-tags) {
  body {
    -webkit-font-smoothing: $body-font-smoothing;
  }

  @for $i from 1 through length($header-tags) {
    $tag: nth($header-tags, $i);

    #{$tag} {
      -webkit-font-smoothing: $header-font-smoothing;
    }
  }
}

@include exports("paint-typography") {
  @if $include-html-paint-typography {
    @include typography-font-smoothing;
  }
}
