$typography: () !default;
$typography-default-settings: (
  heading-tags: (
    h1, h2, h3, h4, h5, h6, blockquote
  ),

  condensed-tags: ()
);

$typography: map-merge-settings($typography-default-settings, $typography);

$include-html-paint-typography: true !default;

@function typography-settings($setting, $property: null) {
  @if $property {
    @return map-get(map-get($typography, $setting), $property);
  } @else {
    @return map-get($typography, $setting);
  }
}

@mixin typography-font-smoothing(
  $heading-tags: typography-settings(heading-tags)
) {
  body {
    -webkit-font-smoothing: $body-font-smoothing;
    text-rendering: optimizeLegibility;
  }

  @for $i from 1 through length($heading-tags) {
    $tag: nth($heading-tags, $i);

    #{$tag} {
      -webkit-font-smoothing: $heading-font-smoothing;
    }
  }
}

@mixin typography-condensed-tags {
  @each $tag, $letter-spacing in typography-settings(condensed-tags) {
    #{$tag} {
      letter-spacing: $letter-spacing;
    }
  }
}

@mixin typography-resets {
  html {
    font-size: $rem-base;
  }

  body {
    color: color(text);
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $font-weight-normal;
    line-height: $base-line-height;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: color(text);
    font-family: $heading-font-family;
    font-style: normal;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    margin-bottom: 0;
    margin-top: 0;

    small {
      color: color(text, small);
      font-size: $small-font-size;
      line-height: 0;
    }
  }

  p {
    margin: 0 0 $small-spacing;
  }

  a {
    color: color(link);
    text-decoration: none;
    transition: color $global-transition-duration / 2 ease;

    &:active,
    &:focus,
    &:hover {
      color: color(link, dark);
    }
  }

  hr {
    border-bottom: color(border);
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: $base-spacing 0;
  }

  img,
  picture {
    margin: 0;
    max-width: 100%;
  }

  ul,
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  dl {
    margin-bottom: $small-spacing;

    dt {
      font-weight: $font-weight-extrabold;
      margin-top: $small-spacing;
    }

    dd {
      margin: 0;
    }
  }
}

@mixin typography-headings {
  h1 { font-size: $h1-font-size - $h1-font-reduction; }
  h2 { font-size: $h2-font-size - $h2-font-reduction; }
  h3 { font-size: $h3-font-size - $h3-font-reduction; }
  h4 { font-size: $h4-font-size - $h4-font-reduction; }
  h5 { font-size: $h5-font-size - $h5-font-reduction; }
  h6 { font-size: $h6-font-size - $h6-font-reduction; }

  @media #{$large-up} {
    h1 { font-size: $h1-font-size; }
    h2 { font-size: $h2-font-size; }
    h3 { font-size: $h3-font-size; }
    h4 { font-size: $h4-font-size; }
    h5 { font-size: $h5-font-size; }
    h6 { font-size: $h6-font-size; }
  }
}

@include exports('paint-typography') {
  @if $include-html-paint-typography {
    @include typography-resets;
    @include typography-headings;
    @include typography-font-smoothing;
    @include typography-condensed-tags;
  }
}
