////
/// Label
/// @group components
/// @since v1.0.0
////

$label-defaults: (
  prefix: '%label',

  radius: radius(round) radius() radius() radius(round),

  style: (
    base: color(border),
    success: color(success),
    warning: color(warning),
    alert: color(alert),
    info: color(info)
  )
);

$label: () !default;
$label: map-merge-settings($label-defaults, $label);

@function label($settings...) {
  @return map-deep-get($label, $settings...);
}

%_label {
  border-radius: label(radius);
  display: inline-block;
  font-size: font(size, small);
  font-weight: font(weight, bold);
  padding: gutter(smaller) gutter(small);
  text-align: center;
}

@mixin label-placeholders {
  @each $style, $color in label(style) {
    #{label(prefix)}-#{$style} {
      @extend %_label;

      background-color: $color;
      color: contrast($color);

      &-uppercase {
        text-transform: uppercase;
      }
    }
  }

  #{label(prefix)} {
    &-small {
      padding-bottom: 0;
      padding-top: 0;
    }
  }
}

@include exports('paint-label') {
  @include label-placeholders;
}
