////
/// Layout Component.
/// @group layout
/// @since v0.8.29
////

/// Default settings

$layout-default-settings: (
  selectors: (
    main: '.application',
    content-wrapper: 'main',
    content: '> .content'
  )
);

$include-html-paint-layout: true !default;

/// Global application layout styles
///
/// @example - Default Usage
///   <body>
///     <div class="application">
///       <div class="main-navigation">
///          // ...
///       </div>
///
///       <main>
///         <div class="content">
///           //...
///         </div>
///       </main>
///     </div>
///   </body>

$layout: () !default;
$layout: map-merge-settings($layout-default-settings, $layout);

@function layout-settings($setting, $property: null) {
  $output: map-get($layout, $setting);

  @if $property {
    $output: map-get(map-get($layout, $setting), $property);
  }

  @if type-of($output) == string {
    @return unquote($output);
  } @else {
    @return $output;
  }
}

@mixin layout {
  html,
  body {
    height: 100%;
    overflow: hidden;
  }

  #{layout-settings(selectors, main)} {
    height: 100%;

    #{layout-settings(selectors, content-wrapper)} {
      height: 100%;
      overflow: hidden;
      position: relative;

      #{layout-settings(selectors, content)} {
        height: 100%;
        overflow-y: auto;
      }
    }
  }
}

@include exports('paint-layout') {
  @if $include-html-paint-layout {
    @include layout;
  }
}
