////
/// Notifications
/// @group components
/// @since v1.0.0
////

// sass-lint:disable placeholder-in-extend

$notification-defaults: (
  prefix: '%notification',

  style: (
    base: (
      background: color(border),
      border: color(border, dark)
    ),
    info: (
      background: color(info),
      border: color(info, dark)
    ),
    warning: (
      background: color(warning),
      border: color(warning, dark)
    ),
    error: (
      background: color(alert),
      border: color(alert, dark)
    ),
    success: (
      background: color(success),
      border: color(success, dark)
    )
  ),

  size: (
    base: gutter(small) gutter(base),
    small: gutter(smaller) gutter(base),
    large: gutter(base)
  )
);

$notification: () !default;
$notification: map-merge-settings($notification-defaults, $notification);

@function notification($settings...) {
  @return map-deep-get($notification, $settings...);
}

@mixin notification-style($style: base) {
  $background: notification(style, $style, background);

  background-color: $background;
  border: 1px solid notification(style, $style, border);
  color: contrast($background);
}

@mixin notification-size($size: notification(size, base)) {
  padding: $size;
}

@mixin notification-wrapper-placeholders {
  #{notification(prefix)} {
    &-wrapper {
      display: block;

      &-fixed,
      &-absolute {
        z-index: z(notification);
      }

      &-fixed {
        position: fixed;
        width: 100%;
      }

      &-absolute {
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}

@mixin notification-placeholders {
  #{notification(prefix)} {
    @each $style, $color in notification(style) {
      &-#{$style} {
        @extend %_notification-base;
        @include notification-style($style);
      }

      @each $size, $value in notification(size) {
        &-#{$size} {
          @include notification-size($value);
        }
      }
    }

    &__actions {
      @extend #{grid(prefix, col)}-right;
    }

    &__action {
      @extend #{button(prefix)}-ghost;
      @extend #{button(prefix)}-small;
    }
  }
}

@include exports('paint-notification') {
  @include notification-wrapper-placeholders;
  @include notification-placeholders;

  %_notification-base {
    @extend #{grid(prefix, row)};
    @extend #{grid(prefix, row)}-middle;
    @include notification-size;

    border-radius: radius();
  }
}
