////
/// Flex Grid placeholders
/// @group grid
/// @since v0.9.25
////

$flex-row-prefix: 'row' !default;
$flex-col-prefix: 'col' !default;

@function col-width($columns, $total-columns: $grid-columns) {
  @return 100% / $total-columns * $columns;
}

@mixin col($columns) {
  $width: col-width($columns);

  flex-basis: $width;
  max-width: $width;
}

@mixin col-gutter($columns, $direction: left, $type: margin) {
  $width: col-width($columns);

  #{$type}-#{$direction}: $width;
}

@mixin col-placeholders($prefix: $flex-col-prefix) {
  @for $i from 1 through $grid-columns {
    %#{$prefix}-#{$i} {
      @include col($i);
    }
  }

  %#{$prefix}--fill {
    flex: 1;
  }

  %#{$prefix}--auto-fill {
    flex: auto;
  }
}

@mixin col-push-placeholders($prefix: $flex-col-prefix) {
  @for $i from 1 through $grid-columns {
    %#{$prefix}-push-#{$i} {
      @include col-gutter($i);
    }
  }
}

@mixin col-pull-placeholders($prefix: $flex-col-prefix) {
  @for $i from 1 through $grid-columns {
    %#{$prefix}-pull-#{$i} {
      @include col-gutter($i, right);
    }
  }
}

@include col-placeholders;
@include col-push-placeholders;
@include col-pull-placeholders;

@for $i from 1 through length($grid-responsive-media-queries) {
  $query: nth($grid-responsive-media-queries, $i);
  $size: nth($grid-responsive-sizes, $i);
  $prefix: '#{$flex-col-prefix}-#{$size}';

  @media #{$query} {
    @include col-placeholders($prefix: $prefix);
  }
}

%#{$flex-row-prefix} {
  align-content: flex-start;
  display: flex;

  &--fill {
    width: 100%;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--middle {
    align-items: center;
  }

  &--top {
    align-items: flex-start;
  }

  &--bottom {
    align-items: flex-end;
  }

  &--space-around {
    justify-content: space-around;
  }

  &--space-between {
    justify-content: space-between;
  }

  &--center {
    justify-content: center;
  }

  &--vertical {
    flex-direction: column;
  }
}

%#{$flex-col-prefix} {
  &--no-fill {
    flex: none;
    flex-basis: auto;
  }

  &--gutter {
    &:not(:last-child) {
      margin-right: $column-gutter / 2;
    }
  }

  &--middle {
    align-self: center;
  }

  &--top {
    align-self: flex-start;
  }

  &--bottom {
    align-self: flex-end;
  }

  &--right {
    margin-left: auto;
  }

  &--left {
    margin-right: auto;
  }

  &--center {
    margin-left: auto;
    margin-right: auto;
  }
}
