////
/// Global Settings
/// @group global_settings
/// @since v0.8.5
/// @author @deioo
////

// Other Sizes
$global-radius: 3px !default;
$global-rounded: 1000px;
$column-gutter: 1.5rem !default;
$base-z-index: 0 !default;

/// Path settings

$images-path: '/assets/images' !default;
